@import "../base/global.css";
@import "../modules/donate.css";
@import "../modules/news.css";
@import "../modules/events.css";
@import "../layout/footer.css";
@import "../layout/container.css";

.statistics__bcg{
    background-color: black;
}

.statistic__sec{
    padding: 96px 0px;
    margin-bottom: 96px;
}

.statistic__circle{
    width: 375px;
    height: 375px;
    border-radius: 50%;
    position: relative;
    background-image: conic-gradient(#BEF3C0 0% 40%, #AC94F1 40% 75%, #FFF0CA 75% 85%, #F9CF64 85% 95%, #F38FBF 95% 100%);
}

.statistic__circle-inside{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24%;
    right: 23%;
}

.statistic__sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic__header h2{
    margin-bottom: 16px;
    max-width: 649px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.statistic__header p{
    margin-bottom: 32px;
    max-width: 606px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.statistic__persentage{
    color:  #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

.span-mb{
    display: inline-block;
    margin-bottom: 16px;
}

.statistic-per__row{
    margin-right: 24px;
}

@media(max-width:1050px){
    .statistic__sec{
        flex-direction: column;
    }

    .statistic__circle{
        margin-top: 30px;
    }
}

@media(max-width:500px){
    .statistic__header h2{
        font-size: 30px;
    }

    .statistic__circle{
        width: 200px;
        height: 200px;
    }

    ..statistic__circle-inside img{
        display: inline-block;
        width: 60px !important;
        height: 20px;
    }

    .statistic__circle-inside{
        width: 100px;
        height: 100px;
    }
}