@import "../base/global.css";
@import "../modules/donate.css";
@import "../modules/news.css";
@import "../modules/events.css";
@import "../layout/footer.css";
@import "../layout/container.css";

.navbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 2px solid red;
}

.nav-list{
    display: flex;
    gap: 40px;
}
